# Ignore node_modules everywhere
**/node_modules/

# Ignore dependency lock files
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# Ignore build and output folders
**/build/
**/dist/

# Ignore logs
**/*.log
logs/

# Ignore environment files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Ignore editor/IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Ignore testing output
**/coverage/
**/jest/
**/cypress/videos/
**/cypress/screenshots/

# Ignore React cache
**/.react/

# Ignore TypeScript build info
**/*.tsbuildinfo

# Ignore public/static folders in subprojects
**/public/static/
