<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\MeserService.API.dll" stdoutLogEnabled="true" stdoutLogFile="__IISLogPath__" hostingModel="Inprocess">
			<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="__AspNetCoreEnvironment__" />
				</environmentVariables>
</aspNetCore>
		</system.webServer>
	</location>
	<system.webServer>
		<security>
			<authentication>
                <anonymousAuthentication enabled="true" />
			</authentication>
		</security>
	</system.webServer>

</configuration>

<!--ProjectGuid: f1c2ca55-3347-450a-92ff-8781fcb8fc9d-->